/* Blog de fotografía. Galería JL.
    Ángeles Viúdez y José Luis
    Enero 2021
*/

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body{
    font-family: 'Yusei Magic', sans-serif;
    background-color: lightblue;
} 

footer{
    background-color: lightblue;
    padding: 35px
    color: black;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
}

#header{
    margin: auto;
    width: 100%;
    overflow: auto;
}

ul, ol{
    list-style: none;
}

.nav li a{
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 25px;
    display: block;
}
.nav li a:hover{
    background-color: grey;  
}

.nav> li{
    float: left;
    width: 25%;
    text-align: center;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 25%;
    width: 25%
}

.nav li:hover > ul{
    display:block;
}
.nav li ul li{
    position: relative;
}

.nav li ul li ul{
    right: -140px;
    top: 0px;
}

main{
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

main>img{
    width: 100%;
    margin: auto;
}

.titulo1{
    background-color: dimgray;
    padding: 20px;
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    width: 300%;
}

.titulo2{
    background-color: dimgray;
    padding: 20px;
    color: white;
    text-align: center;
    margin: auto;
    width: 70%;
    width: 300%;
}

.foto11{
     padding: 20px;
    border: solid black 5px;
    width: 80%;   
    float: left;
}

.foto12{
     padding: 20px;
    border: solid black 5px;
    width: 80%;   
    float: right;
}

.foto13{
     padding: 20px;
    border: solid black 5px;
    width: 50%;   
    float: right;
}

.foto14{
     padding: 20px;
    border: solid black 5px;
    width: 80%;   
    float: right;
}

.foto21{
     padding: 20px;
    border: solid black 5px;
    width: 50%;   
    float: left;
}

.foto22{
     padding: 20px;
    border: solid black 5px;
    width: 50%;   
    float: right;
}

.foto23{
     padding: 20px;
    border: solid black 5px;
    width: 80%;   
    float: right;
}

.foto24{
     padding: 20px;
    border: solid black 5px;
    width: 50%;   
    float: right;
}

.foto25{
     padding: 20px;
    border: solid black 5px;
    width: 80%;   
    float: right;
}

img{
    transition: all 0.5s ease;
}

img:hover{
    border: 5px solid black; 
    transform: rotate(-360deg) scale(1.3)
}