/*     RETO 1
    JOSÉ LUIS 
    2 DE DICIEMBRE*/

*{
    margin:0;
    box-sizing: border-box;
}

header{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 60px;
    border: 3px dotted gray;
}
html{
    background-color:rebeccapurple;
}
h3{ 
    margin: 10px;
    color:white;
    text-align: center;
    
}
div{
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}
ol{
    color:white;
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 10px;
}
img{
    width: 55%;
    margin: auto;
    border:white 3px solid;
    display: block;
}

img:hover{
    transform: rotate(-5deg)scale(1.2);
    border: 3px solid black;
    
}
img{
    transition: all 1.5s ease
}
footer{
    position: fixed;
    bottom: 5px;
    width: 100%;
    background-color: white;
    color: black;
    padding:20px;
    text-align: center;
    border-radius: 30px;
    border: 3px dotted gray;
}




